<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product List</title>
</head>
<body>
	<h2>
		<span th:text="${user.username}"></span>
	</h2>
	<h1>Product List</h1>

	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Action</th>
		</tr>

		<tr th:each="product : ${products}">
			<td th:text="${product.id}"></td>
			<td th:text="${product.name}"></td>
			<td th:text="${product.description}"></td>
			<td>
				<form method="post" action="/order">

					<input type="hidden" name="productName" th:value="${product.name}" />
					<input type="hidden" name="username" th:value="${user.username}" />
					<input type="submit" value="Order" />
				</form>
			</td>


		</tr>
	</table>
</body>
</html>