<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>User Profile Page</title>
	</head>
	<body>
		<h1>User Profile:</h1>
		<h2><span th:text="${user.username}"></span></h2>
		<div th:object="${user}">
			<ul>
				<li>User Name: <span th:text="*{username}"></span></li>
    			<li>Password: <span th:text="*{password}"></span></li>
				<li>First Name: <span th:text="*{firstName}"></span></li>
				<li>Last Name: <span th:text="*{lastName}"></span></li>
    			<li>Address: <span th:text="*{address}"></span></li>				
			</ul>		
			
		</div>
		
	
		<p>
			<a th:href="@{/product}">available product</a>
			<br>
			<a th:href="@{/setPersonalDetails}">Set Personal information</a>
			<br>
			<a th:href="@{/logout}">Log out</a>
		</p>
	</body>
</html>